body {
    #lightWeightChartContainer {
        position: fixed;
        top: 0px;
        left: 0px;
        background: #131722;
        border: none;
        z-index: -1;
        opacity: 0;
    }
    &.lightweight-chart {
        overflow-y: hidden;

        #lightWeightChartContainer {
            z-index: 1021;
            opacity: 1;

            .area {
                position: absolute;
                display: flex;
                justify-content: space-between;
                font-size: 17px;
                background: #131722;
                border: solid 2px #2a2e39;
                border-radius: 5px;
                z-index: 3;

                &#dataAreaDiv {
                    top: 0px;
                    right: 60px;

                    .command:not(:first-child) {
                        border-left: solid 2px #2a2e39 !important;
                    }

                    #timeFrameSelect {
                        width: 75px;
                    }

                    #chartTypeSelect {
                        width: 77px;
                    }

                    #dateInput {
                        width: 125px;
                    }

                    #spinnerImg {
                        width: 30px;
                        height: 30px;
                    }
                }

                &#toolAreaDiv {
                    flex-direction: column;

                    .command:not(:first-child) {
                        border-top: solid 2px #2a2e39 !important;
                    }
                }
            }

            #legendAreaDiv {
                position: absolute;
                display: flex;
                gap: 10px;
                color: #aaaaaa;
                z-index: 3;
            }

            .command {
                flex: 1 1 auto;
                text-align: center;
                color: #bbbbbb;
                background: transparent !important;
                line-height: 30px;
                width: 30px;
                height: 30px;
                border: none;
                cursor: pointer;
                z-index: 3;

                &:hover {
                    background: #2a2e39 !important;
                }
            }

            .selected {
                color: #1f62ff !important;
            }

            .hover-light:hover {
                opacity: 1 !important;
            }

            #cancelOrderButton {
                position: absolute;
                top: 57px;
                left: 125px;
                padding: 3px 9px;
                border-radius: 5px;
                color: white;
                background: silver;
                z-index: 3;
            }

            #entryOrderButton {
                position: absolute;
                width: 70px;
                height: 60px;
                padding: 5px;
                border-radius: 5px;
                color: white;
                background: silver;
                text-align: center;
                z-index: 3;
            }

            #tpslOrderButton {
                position: absolute;
                width: 60px;
                height: 50px;
                padding: 5px;
                border-radius: 5px;
                color: black;
                background: silver;
                z-index: 3;
            }

            #scrollButton {
                position: absolute;
                bottom: 30px;
                right: 60px;
                border-radius: 50%;
                border: 1px solid gray;
                padding-left: 1px;
                line-height: 26px !important;
                font-size: 22px;
            }
        }

        &.smartpro {
            #lightWeightChartContainer {
                #toolAreaDiv {
                    top: 55px;
                    left: 85px;
                }
                #legendAreaDiv {
                    top: 32px;
                    left: 85px;
                }
            }
        }

        &.smarteasy {
            #lightWeightChartContainer {
                #toolAreaDiv {
                    top: 23px;
                    left: 0px;
                }
                #legendAreaDiv {
                    top: 0px;
                    left: 0px;
                }
            }
        }
    }
}
