body {
    #menuContainer {
        position: fixed;
        bottom: 0px;
        left: 0px;
        display: flex;
        gap: 2px;
        justify-content: space-between;
        background: transparent;
        z-index: 2001;

        &.dark {
            background: #d1d4dc;
            color: #3f433f;
        }

        button {
            background: #3f433f;
            color: #d1d4dc;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            font-size: 20px;

            &:hover {
                background: #000;
                border-color: #d1d4dc;
            }
        }
    }

    &.full-chart #menuContainer {
        #settingButton,
        #reportButton {
            display: none;
        }
    }
}
