#lightWeightChartContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #131722;
    border: none;
    z-index: -1;
    opacity: 0;
}

.lightweight-chart {
    overflow-y: hidden;
}

.lightweight-chart #lightWeightChartContainer {
    z-index: 1021;
    opacity: 1;
}

.lightweight-chart #lightWeightChartContainer .area {
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    background: #131722;
    border: solid 2px #2a2e39;
    border-radius: 5px;
    z-index: 3;
}

.lightweight-chart #lightWeightChartContainer .command {
    flex: 1 1 auto;
    text-align: center;
    color: #bbbbbb;
    background: transparent !important;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    z-index: 3;
}

.lightweight-chart
    #lightWeightChartContainer
    > #dataAreaDiv
    .command:not(:first-child) {
    border-left: solid 2px #2a2e39 !important;
}

.lightweight-chart
    #lightWeightChartContainer
    > #toolAreaDiv
    .command:not(:first-child) {
    border-top: solid 2px #2a2e39 !important;
}

.lightweight-chart #lightWeightChartContainer .command:hover {
    background: #2a2e39 !important;
}

.lightweight-chart #lightWeightChartContainer .selected {
    color: #1f62ff !important;
}

.lightweight-chart #lightWeightChartContainer .hover-light:hover {
    opacity: 1 !important;
}

.lightweight-chart #lightWeightChartContainer > #dataAreaDiv {
    top: 0px;
    right: 60px;
}

.lightweight-chart
    #lightWeightChartContainer
    > #dataAreaDiv
    > #timeFrameSelect {
    width: 75px;
}

.lightweight-chart
    #lightWeightChartContainer
    > #dataAreaDiv
    > #chartTypeSelect {
    width: 77px;
}

.lightweight-chart #lightWeightChartContainer > #dataAreaDiv > #dateInput {
    width: 125px;
}

.lightweight-chart #lightWeightChartContainer > #dataAreaDiv > #spinnerImg {
    width: 30px;
    height: 30px;
}

.lightweight-chart #lightWeightChartContainer > #toolAreaDiv {
    top: 55px;
    left: 85px;
    flex-direction: column;
}

.lightweight-chart #lightWeightChartContainer > #legendAreaDiv {
    position: absolute;
    top: 32px;
    left: 85px;
    display: flex;
    gap: 10px;
    z-index: 3;
}

.lightweight-chart #lightWeightChartContainer > #legendAreaDiv {
    color: #aaaaaa;
}

.lightweight-chart #lightWeightChartContainer > #cancelOrderButton {
    position: absolute;
    top: 57px;
    left: 125px;
    padding: 3px 9px;
    border-radius: 5px;
    color: white;
    background: silver;
    z-index: 3;
}

.lightweight-chart #lightWeightChartContainer > #entryOrderButton {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background: silver;
    z-index: 3;
}

.lightweight-chart #lightWeightChartContainer > #tpslOrderButton {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    color: black;
    background: silver;
    z-index: 3;
}

.lightweight-chart #lightWeightChartContainer > #scrollButton {
    position: absolute;
    bottom: 30px;
    right: 60px;
    border-radius: 50%;
    border: 1px solid gray;
    padding-left: 1px;
    line-height: 26px !important;
    font-size: 22px;
}
