#optionViewContainer {
    position: fixed;
    bottom: 40px;
    left: 85px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: red;
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
}

#optionViewContainer.show {
    z-index: 2001 !important;
    opacity: 1 !important;
}

#optionViewContainer > #hearderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#optionViewContainer > #hearderContainer > p {
    margin-bottom: 0;
}
#optionViewContainer > #hearderContainer > .title {
    font-size: 17px;
    font-weight: bold;
}
#optionViewContainer > #hearderContainer > .subtitle,
#optionViewContainer > #hearderContainer > .homepage {
    font-size: 12px;
    margin-top: -5px;
}
.full-chart #optionViewContainer {
    z-index: -1 !important;
}
#optionViewContainer > .section {
    width: 100%;
    height: calc(100% - 50px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#optionViewContainer > .section > .wrapper {
    padding: 30px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#optionViewContainer .invalid {
    color: red;
}

#optionViewContainer .link {
    cursor: pointer;
}

#optionViewContainer .link:hover {
    text-decoration: underline;
}

#loginContainer {
    background-color: aquamarine;
}
#registerContainer {
    background-color: blueviolet;
}
#optionContainer {
    background-color: yellowgreen;
}
