#optionViewContainer {
    position: fixed;
    bottom: 40px;
    left: 5px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #3c3c3c;
    color: #dadada;
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
}
#optionViewContainer *::-webkit-scrollbar {
    display: none;
}
#optionViewContainer.show {
    z-index: 2001 !important;
    opacity: 1 !important;
}

#optionViewContainer > #hearderContainer {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 3px;
}
#optionViewContainer > #hearderContainer > .title {
    font-size: 16px;
    font-weight: bold;
}
#optionViewContainer > #hearderContainer > .logout {
    position: absolute;
    top: 1px;
    right: 4px;
    cursor: pointer;
    background: #2e2e2e;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 3px;
}
#optionViewContainer > #hearderContainer > .logout:hover {
    background: #dadada;
    color: #2e2e2e;
}
.full-chart #optionViewContainer {
    z-index: -1 !important;
}
#optionViewContainer > .section {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #2e2e2e;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
#optionViewContainer > .section.active {
    width: 100%;
    height: calc(100% - 30px);
    opacity: 1;
}

#optionViewContainer > .section > .wrapper {
    padding: 5px 10px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#optionViewContainer > .section > .wrapper .title {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
#optionViewContainer > .section > .wrapper > .list {
    width: 100%;
}
#optionViewContainer > .section > .wrapper > .list > .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#optionViewContainer > .section > .wrapper > button[type="submit"] {
    margin-top: 10px;
}
#optionViewContainer > #optionContainer .item {
    margin-bottom: 3px;
}
#optionViewContainer > .section button {
    border-radius: 20px;
    font-weight: bold;
}
#optionViewContainer .invalid {
    color: red;
}

#optionViewContainer .link-group {
    display: flex;
    gap: 10px;
}

#optionViewContainer .link {
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

#optionViewContainer .download {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#optionViewContainer .link:hover {
    text-decoration: underline;
}
